@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication

@inject NavigationManager NavManager
@inject IHttpContextAccessor Context

<AuthorizeView>
    <Authorized>
            Hello, @context.User?.Identity?.Name!
            <button class=" btn btn-link" @onclick="BeginLogoutAsync">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task BeginLogoutAsync(MouseEventArgs args)
    {
        //if (Context.HttpContext == null)
        //{
        //    return;
        //}
        //await Context.HttpContext.SignOutAsync("Cookies");
        //await Context.HttpContext.SignOutAsync("oidc");
        
        NavManager.NavigateTo($"authentication/signout", true);
    }
}