@inherits LayoutComponentBase

<PageTitle>BlazorServerDemo.Net6.MovieRatings.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="col-8">
                <a class="pull-left" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
            <div class="col-4" style="text-align: right;">
                <LoginDisplay />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
